body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFACAC;
}
h1{
    color: #880000;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.centered-content {
    text-align: center;
    max-width: 80%;
    width: 100%;
}

header,body,footer {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: lightcoral;
}

img.center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

p {
    color: darkred;
    font-size: medium;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkred;
    color: #FFACAC;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #880000;
}

footer {
    background-color: darkred;
    color:lightcoral;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #FFACAC;
}

footer a {
    color: lightcoral;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
