body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFACAC;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #880000;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

img.center {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 20px rgba(113, 0, 0, 0.841);
}

body p {
    color: darkred;
    font-size: medium;
    margin-top: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkred;
    color: #FFACAC;
    margin-top: 10px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #880000;
}

footer {
    background-color: darkred;
    color: lightcoral;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

footer a {
    color: lightcoral;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
